body {
    background-color: #FF7126;
    font-family: fantasy;
}

.small_pizza {
    background-color: mediumvioletred;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    width: auto;
    font-style: italic;
    flex: 1;
}

.medium_pizza {
    background-color: blueviolet;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    width: auto;
    font-style: italic;
    flex: 1;
    
}
    
.large_pizza {
    background-color: brown;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    width: auto; 
    font-style: italic;
    flex: 1;
}

.footer {
    /*display: flex;*/
    background-color: indigo;
    border: 1px solid black;
    margin: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    /* position: absolute; */
    width: auto;
    height: 121.11px;
    width: auto;
    font-style: italic;
}
@media (min-width: 980px){
    .pizzas{
        display: flex; 
    }
}
 @media (min-width: 500px){
     body { 
    background-color: peachpuff;
 }
}

.footer {
    /*display: flex;*/
    background-color: indigo;
    border: 1px solid black;
    margin: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    /* position: absolute; */
    width: auto;
    height: 121.11px;
    width: auto;
    font-style: italic;
}
