body {
    background-color: #FF7126;
    font-family: fantasy;
  
}

.pizzas {
    display: flex;
}

.pizzas {
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    width: auto;
}

.small_pizza {
    background-color: mediumvioletred;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    width: auto;
    font-style: italic;
}

.medium_pizza {
    background-color: blueviolet;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    width: auto;
    font-style: italic;
    
}
    

.large_pizza {
    background-color: brown;
    border: 1px solid black;
    margin: 1em;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    width: auto; 
    font-style: italic;
}

/* .contact_us { */
    /* background-color: indigo;
    border: 1px solid black;
    margin: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
} */

@media (min-width:500px) {
    body{
    background-color: red;
}
}

@media (min-width:960px) {
    body{
    background-color: peachpuff;
}
}

.footer {
    display: flex;
    background-color: indigo;
    border: 1px solid black;
    margin: 1em;
    margin-bottom: 1em; 
    border-radius: 1em;
    /* position: absolute; */
    width: auto;
    height: 121.11px;
    width: auto;
    font-style: italic;

}
